# Node.js
node_modules/

# Dependency directories
jspm_packages/
typings/

# Production build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env

# Mac OS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*

# Windows
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# Node.js Installer files
node_modules/
